<!Doctype html>
<html>

<head>
    <style>
        a {
            float: left;
            padding: 5px;}
    </style>
</head>
<h1>Assignment 2 - Sai Harshini Garapati - 1002027780</h1>

<body>
    <a href="/largest">Largest magnitude earthquake</a><br><br>
    <a href="/range">specified location</a><br><br>
    <a href="/q3_m">cluster of earthquakes</a><br><br>
    <a href="/q4">Magnitude ranged earthquakes</a><br><br>
    <a href="/q5">Day and Nihgt count occurance</a><br><br>
    
</body>

</html>