<html>
    <a href="/">Home</a>
   
<body>
      <table  border="1px" style="clear: both;">
         <tr>
            <th>Count of Earthquakes with magnitude between 2 and 2.5</th>
            <th>Count of Earthquakes with magnitude between 2.5 and 3</th>
            <th>Count of Earthquakes with magnitude between 3 and 3.5</th>
            <th>Count of Earthquakes with magnitude between 3.5 and 4</th>
            <th>Count of Earthquakes with magnitude between 4 and 4.5</th>
            <th>Count of Earthquakes with magnitude between 4.5 and 5</th>
            <th>Count of Earthquakes with magnitude between 5 and 5.5</th>
            <th>Count of Earthquakes with magnitude between 5.5 and 6</th>
            <th>Count of Earthquakes with magnitude between 6 and 6.5</th>
           
            <th>Count of Earthquakes with magnitude between 6.5 and 7</th>
            <th>Count of Earthquakes with magnitude between 7 and 7.5</th>
            <th>Count of Earthquakes with magnitude between 7.5 and 8</th>
         </tr>
         {% for i in result %}
         <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
            <td>{{i[4]}}</td>
            <td>{{i[5]}}</td>
            <td>{{i[6]}}</td> <td>{{i[7]}}</td> <td>{{i[8]}}</td> <td>{{i[9]}}</td> <td>{{i[10]}}</td> <td>{{i[11]}}</td>
         </tr>
         {% endfor %}
      </table>
</body>
</html>